name: Format code
on: [push, pull_request]

permissions:
  contents: write

jobs:
  run:
    name: Format code
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          token: ${{ github.token }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Format Scratchblocks Scripts
        run: npm run format:scripts

      - name: Format code with Prettier
        run: npm run format

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Format code and scratchblocks scripts"
          branch: ${{ github.head_ref }}
          skip_fetch: false
          skip_checkout: false